.main {
  height: 200px;
  overflow: hidden;
  position: relative;
  top: 5px;
  margin-bottom: 60px;
}

.main h1 {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 60px;
  background-image: url("images/pattern.jpeg");
  width: 100%;
  text-align: center;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
}

h2 {
 font-family: 'Helvetica', 'Arial', sans-serif;
 font-size: 32px;
 font-weight: bold;
 color: white;
}

.container h2 {
  background-color: mediumspringgreen;
}

.containerframes h2 {
  background-color: lightcoral;
}

.containerpaint h2 {
  background-color: skyblue;
}

h3 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

p span {
  font-weight: bold;
  color: blue;
}
